@font-face {
  font-family: myFont;
  src: url(Poppins/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
}

.navbar {
  height: 80px;
  border:1px solid #E8E8E8;
  background-color: #fff;
}
.img-logo {
  padding: 40px;
}
.title_Dashboard {
  padding: 40px;
}
h2 {
  color: #52459f;
}
/* Sidebar */
.app {
  display: flex;
  min-height: 100vh;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: #2e3047;
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}
.hamburger > span::after {
  content: "";
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  flex: 1 1 0;
  max-width: 300px;
  padding: 1rem 1rem;
  border:1px solid #E8E8E8;
  background-color: #f8f9fa;
}

.sidebar h3 {
  color: #707793;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1.5em;
  color: #3c3f58;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #52459f;
  border-left: 5px solid #52459f;
  
}

.sidebar .menu .menu-item:hover {
  border-left: 5px solid #52459f;
  
}

.content {
  flex: 1 1 0;
  padding: 2rem;
}

.content h1 {
  color: #3c3f58;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: #707793;
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .content {
    padding-top: 8rem;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    left: 0;
  }
}

/* Profile Content */
.sidebar .menu .profile_content {
  position: absolute;
  bottom: 0;
}

/* USER PROFILE */
.Profile_User{
  padding: 10px;
}
.sidebar .Profile_User .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
}
.Profile_User .profile .profile_details {
  display: flex;
  align-items: center;
}

.profile .profile_details img{
  
  width: 52px;
  object-fit: cover;
  
}
.profile .profile_details .name_job{
  margin-left: 10px;
}
.profile #setting{
  position: absolute;
  left: 100%;
  bottom: 15px;
  transform: translateX(-50%);
  min-width: 50px;
  
}
/* จัด layout ของ icon กับหัวข้อ sidebar */
.sidebar .menu .menu-item img{
  margin-right: 10px;
}


  /* Select box */
  /* Select Box */
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #ffffff;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:rgb(0, 0, 0);
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    border:1px solid #E8E8E8;
    margin-right: 30px;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #ffffff;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    
 }
 .select:hover::after {
    color: #23b499;
 }

 /* Search form */
 .Searchform{
    margin-top: 15px;
    margin-bottom: 15px;
    
    height: 55px;
    display: flex;
    align-items: center;
}
.Searchform input{
  flex: 1;
  height: 80%;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
  margin: 10px;
  
}
.Searchform button{
    padding: 12px 50px;
    border-radius: 8px;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    background: #52459F;
    border: none;
}
